* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.conteneur {
  height: 90%;
  width: 100%;
  box-sizing: border-box;
}

.title {
  background-color: #0084e6;
  height: 20%;
  box-shadow: 6px 6px 6px #d5d5d5;
}

.title > h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  color: #ffffff;
}

.conteneur-form {
  box-sizing: border-box;
  width: 95%;
  display: flex;
  flex-direction: row;
  gap: 20px 20px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-right {
  width: 60%;
  background-color: #f7f7f7;
  box-sizing: border-box;
  border: 1px #0084e6 solid;
  box-shadow: 3px 3px 3px #d5d5d5;
}

.form-left {
  width: 40%;
  background-color: #f7f7f7;
  box-sizing: border-box;
  border: 1px #0084e6 solid;
  box-shadow: 3px 3px 3px #d5d5d5;
}

#form1 select {
  appearance: none;
  background: #ffffff url(../Image/fleche-vers-le-bas.svg) no-repeat right
    0.75rem center/8px 10px;
  background-size: 50px;
}

.form-left form > p,
.form-right form > p {
  height: 90px;
  color: #ffffff;
  font-size: 2rem;
  background-color: #0084e6;
  text-align: center;
  padding-top: 20px;
  font-weight: bolder;
}

.conteneur-contente {
  padding: 20px 20px 20px 20px;
}

.charger-img #fichier {
  font-size: 2rem;
  border: 1px solid #0084e6;
  height: 100px;
}
input {
  padding-left: 9px;
}
input.inputrechech {
  width: 30% !important;
  margin-left: 67%;
  margin-bottom: 5%;
  padding-top: 15px;
  color: #0084e6;
  font-size: 2rem;
  border-radius: 15px;
  outline: none;
  border: none;
}
label.info,
.input,
select,
textarea {
  display: block;
  width: 90%;
  padding: 15px 0px 15px 0px;
  color: #0084e6;
  font-size: 2rem;
}

.inputfil {
  height: 90px;
  width: 60%;
  border: solid 1px #0084e6;
  border-radius: 15px;
  box-shadow: 6px 6px 6px #0084e6;
}

div#fichier-img.carre {
  height: 90px;
  width: 60%;
}

.imgprofilselect {
  position: relative;
  height: 150px;
  width: 150px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 6px 6px 6px black;
}

.input,
select,
textarea {
  border: #0084e6 0.5px solid;
  border-radius: 15px;
  outline: none;
}

.charger-img {
  display: flex;
  flex-direction: row;
  margin: 25px 0px 25px 0px;
}

.grpbt {
  display: flex;
  flex-direction: row;
  gap: 30px 30px;
}

.grpbt button {
  height: 90px;
  width: 43%;
  border-radius: 15px;
  border: none;
  font-size: 2rem;
}

#btn-creer {
  outline: none;
  background-color: #0084e6;
}

#btn-reinit {
  outline: none;
  background-color: #f9515a;
}

.form-right form .conteneur-contente {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 2px 2px #0084e6;
}

.conteneur-avatar {
  height: 250px;
  width: 250px;
  box-sizing: border-box;
}

#user-nom,
#user-prenom,
#user-groupe {
  color: #969393;
  margin: 20px 20px 20px 0px;
  font-size: 1.5rem;
}

#news-bio {
  color: #969393;
  margin: 20px 20px 20px 0px;
}

.imgprofil {
  position: relative;
  height: 220px;
  width: 220px;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 6px 6px 6px black;
}

.imgAvatar {
  position: relative;
  height: 220px;
  width: 220px;
  box-sizing: border-box;
  border-radius: 50%;
}

.news {
  padding: 20px 20px 20px 20px;
}

button.deleteclass {
  display: inline-block;
  background: url(../Image/close.svg) no-repeat;
  background-size: 50px;
  display: inline;
  border: none;
  appearance: none;
  width: 90px;
  height: 50px;
  cursor: pointer;
  margin: 20px 20px 20px 20px;
  outline: none;
}

form#form2 #conteneur {
  display: flex;
  flex-direction: column;
}
div#conteneur {
  height: 1000px;
  overflow: scroll;
}

.conteneur-item {
  display: flex;
  flex-direction: row;
  border-bottom: solid 2px #0084e6;
  box-shadow: 0px 2px 2px #0084e6;
}

.tableview {
  width: 95%;
  padding: 20px 20px 20px 20px;
  margin: 20px;
  display: inline-block;
}

@media all and (max-width: 547px) {
  * {
    font-size: 10px;
  }
  #btn-creer {
    width: 100%;
    display: block;
    height: 50px;
    margin-bottom: 20px;
  }
  #btn-reinit {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    display: block;
  }
  .charger-img {
    display: block;
  }
  div#fichier-img.carre {
    width: 100%;
  }
  .inputfil {
    height: 50px;
    width: 100%;
  }
  input.imgprofilselect {
    display: block;
    width: 100%;
  }
  .grpbt {
    display: block;
  }
  .imgprofilselect {
    margin-top: 20px;
    height: 50px;
  }
}
